body{
	background-image: url(../images/agricultureback.jpg);
}
#mainBody{
	width: 800px;
	height: 500px;
	text-align: center;
	color: white;
	background: rgba(0,150,255,.3);
	position: absolute;
	top: 200px;
	left: 200px;
}
nav{
	position: absolute;
	top: 15px;
	left: 0px;

}
nav ul{
	list-style: none;
	padding-left: 0px;
	border: solid 1px white;
	width:150px;
	background: rgba(0,150,255,.7);

}
nav ul li{
	border: solid 1px white;
	color: white;
	width: 150px;
	height: 25px;
	font-size: 10pt;
}
nav ul li:hover{
	background: white;
	color: black;
	cursor: pointer;
	}
